$background-color: rgba(236, 236, 236, 0);
$preheader-color: rgb(14, 126, 253);
$header-background: #0000;
$article-color: rgb(59, 151, 255);
$main-background: rgba(201, 201, 201, 0);

$nav-color: #3269d6;
$nav-font-color: rgb(235, 235, 235);
$black-font: rgb(24, 24, 24);

$main-font: 'Barlow', sans-serif;
$white-font: aliceblue;

$normal-font-size: 1em;
$nav-font-size: .85em;

$hover: #273d68;

$transition: .1s all ease-in;



@mixin flexbox-ac-jc { // AC= align-items = center, JC = justify-content: center
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin a-element-style-with-transition {
    
    a {
        text-decoration: none;

        &:hover,
        &:active {
            color: $hover;
            transition: $transition;
        }
    }
}

// * {
//     border: .5px black solid;
// }


body {
    background: $background-color;
    max-width: 100vw;
    font-family: $main-font;

    overflow-x: hidden !important;
    
    margin: 0;
    padding: 0;

    @include flexbox-ac-jc;
}

.container {
    @include flexbox-ac-jc;
    flex-direction: column;
    
    margin: 0;
    padding: 0;

    width: 100vw;
}

.preheader {
    
    background: $preheader-color;
    width: 100vw;
    min-height: 4vh;
    

    
    @include flexbox-ac-jc;
    justify-content: flex-start;
    
    ul {
        display: flex;
        flex-direction: row; 
        gap: 3rem;
        padding: 0;
        margin: .5em;
        align-self: flex-start;

        margin-left: 20%;

        li {

            font-size: .85em;

            list-style-type: none;

            i {
                color: rgb(235, 235, 235);
                vertical-align: middle;
                margin-right: .35em;
            }
 
            
        }
    }


    a {
        color: $white-font;
        text-decoration: none;
        &:hover,
        &:active {
            transition: $transition;
            color: $hover;
        }
    }
}


header {
    
    background: url(../images/bg.jpg) no-repeat;
    background-size: 100%;
    background-position: center;
    background-position-y: 0;
    @include flexbox-ac-jc;
    flex-direction: column;


    width: 100%;
    height: 85vh;

}

nav {

    width: 100vw;
    height: 5vh;
    background: $nav-color;

    text-transform: uppercase;

    z-index: 30 !important;
    box-shadow: 0 0 0 .1em $nav-color;

    display: flex;
    align-items: center;
    justify-content: flex-end;

    h2 {
        flex: auto;
        margin-left: 20%;
        color: $white-font;
        font-weight: 400;
        font-size: 2em;
    }

    ul {
        @include flexbox-ac-jc;
        justify-content: flex-end;

        flex-direction: row;
        gap: 3em;

        font-size: $nav-font-size;

        list-style-type: none;
        margin: 0 4rem;
        margin-right: 20%;
        padding: .5rem 0;
    }

    @include a-element-style-with-transition;

    li {

    padding: .4rem;
    border-radius: .2rem;
    
    &:hover,
    &:active {
        transition: $transition;
    }

        a {
            text-decoration: none;
            color: $nav-font-color;
        }

    }
}

main {
    background: $main-background;
    width: 100vw;

    @include flexbox-ac-jc;

    section {
        
        width: 100vw;
        align-self: flex-start;


        article {
            width: 100vw;
            min-height: 50vh;
            @include flexbox-ac-jc();
            flex-direction: column;
            justify-content: flex-start;
            align-self: flex-start;
            margin-top: 9em;

            h2 {
                font-size: 2.5em;
                font-weight: 400;
                text-transform: uppercase;
                color: $white-font;
                margin: 0;
            }

            p {
                width: 50%;
                font-size: 1.5em;
                margin-top: 5em;
        
            }
        }
    }

}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
    background: $article-color;

    height: 50em;

    &:nth-child(2n) {
        background: aliceblue;
        
        h2 {
            color: $black-font;
        }
    }
}

footer {
    background: rgb(104, 0, 52);
    width: 100vw;
    
    @include flexbox-ac-jc;
}


// About us 
.aboutUs {

    p {
        text-align: center;
        line-height: 1.5em;
    }
}

// services

.services {

    ul {
        @include flexbox-ac-jc;
        gap: 1em;

        margin: 1em 0;
        padding: 0;

        list-style-type: none;
    }

    p {
        text-align: center;
    }
}

.servicesList {
    display: flex;
    flex-direction: column;
    width: 50%;
    
    font-size: 1.2em;
    line-height: 1.5em;
    text-align: left;
    margin: 5em !important;

    span {
        font-weight: 600;
    }

}

// CONTACT FORM

.contactForm {
    background: lighten($article-color, 5%);
    box-shadow: 0 0 .1em  darken($article-color, 5%);
    

    @include flexbox-ac-jc;
    flex-direction: column;

    form {
        @include flexbox-ac-jc;
        flex-direction: column;

        padding: 1.5em;

        input {
            margin: .8em;
            height: 1.5em;
            background: aliceblue;
            border: none;
            text-align: center;

            &:hover {
                background: darken(aliceblue, 10%);
                transition: .3s all ease-in;
            }
        }

        textarea {
            background: aliceblue;
            border: none;
            margin: 1em 0;
        }

        .btn {
            cursor: pointer;
        }
    }
}

.contacts {
    @include flexbox-ac-jc;
    flex-direction: row;

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;

        font-size: 1.2em;
        

        @include flexbox-ac-jc;
        flex-direction: column;
        gap: 1em;

        @include a-element-style-with-transition;
        
        a {
            color: $white-font;
        }

}

.contactInfo {
    @include flexbox-ac-jc;
    flex-direction: column;
    align-self: flex-start;
    width: 50%;

    p {
        margin: 2em 0;
        padding: 0;
        font-size: 1.1em;
        text-align: center;
        width: 70%;
    }
    
    ul {
        margin-top: 5em;
    }
}   
}

.freonnet {

    p {
        text-align: center
    }
}

